@import "tailwindcss";

*{
  cursor: none !important;
}

:root {
  --background: #F5F5F5;
  --foreground: #575757;
  --cor-secundaria: #262626;
  --cor-terciaria: #00BFFF;
  --cor-quartenaria: #7e7e7e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
.menu-aberto{
  width: 70px;
  height: 70px;
  background-color: var(--background);
}

.bounce{
  animation: text-shadow 1.5s ease-in-out infinite;
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
  }

  20% {  
      transform: translateY(-1em);
  }

  40% {  
      transform: translateY(0.2em);
  }
  
 60% {
      transform: translateY(-0.5em);
  }

  80% {  
      transform: translateY(0);
  }
}

.slide-up {
  animation: slide-up 1.4s cubic-bezier(0.65, 0, 0.35, 1);
}
@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.slideMenu1{
  animation: slide2 0.6s cubic-bezier(0, 0, 0.7, 0);
}
.slideMenu2{
  animation: slide2 0.7s cubic-bezier(0, 0, 0.8, 0);
}
.slideMenu3{
  animation: slide2 0.8s cubic-bezier(0, 0, 0.9, 0);
}
.slideMenu4{
  animation: slide2 0.9s cubic-bezier(0, 0, 1, 0);
}

@keyframes slide2 {
  0% {
    transform: translateY(150px);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}


.fade-in {
  animation: fade-in 2.3s cubic-bezier(0, 0, 2, 1);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.linha-crescente {
  animation: line 1.8s cubic-bezier(0.20, 0.5, 0, 1);
}
@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
